@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ecebea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-area, .home {
  margin-top: 60px;
}

.chat-area {
  background-color: #ece3d9;
  padding: 20px;
  height: 400px;
  width: 800px;
  overflow-y: scroll;
}

.chat-area .chat-bubble {
  background-color: #bbecfb;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-area .namechange-bubble {

  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  color: #7c4d26;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #a5d6b8;
}

.form-control {
  width: 60%;
  border-radius: 3px;
  border-width: 2px;
  border-color: rgb(102, 78, 59);
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
  border-radius: 3px;
}

.btn-submit {
  background-color: #4778d1;
  color: white;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}